/*
 Theme Name:   T-magasinet child
 Description:  Ekko child theme for T-Magasinet
 Author:       Timelab
 Template:     ekko
 Version:      1.0.0
 Text Domain:  tmagasinet
*/

.grecaptcha-badge {
  z-index: 2999999999;
}

.back-to-top {
  bottom: 90px;
}

.back-to-top.active {
  right: 21px;
}

body.archive.woocommerce-page .blog-page-heading .container .section-heading {
  display: none;
}

body.archive.woocommerce-page .blog-page-heading .container .term-description h1,
body.archive.woocommerce-page .blog-page-heading .container .term-description h2,
body.archive.woocommerce-page .blog-page-heading .container .term-description h3,
body.archive.woocommerce-page .blog-page-heading .container .term-description h4,
body.archive.woocommerce-page .blog-page-heading .container .term-description p,
body.archive.woocommerce-page .blog-page-heading .container .breadcrumbs {
  color: #FFF !important;
  text-shadow: 2px 2px 4px #000000;
}

/* Woo category accordion */
ul#outer_ul {
  padding-left: 0;
}

/* Zoomed product image */
.pswp--open .pswp__img {
  background-color: #fff;
}

.widget.widget_wc_category_accordion .trwca-accordion a {
  background: #FFD028;
  color: #000000 !important;
  border-bottom: 1px solid #dac26f;
}

.widget.widget_wc_category_accordion .trwca-accordion a:hover, .acorange li.current-cat a, .acorange li.current-cat-parent a {
  background: #f2b202;
  color: #000000 !important;
}

.widget.widget_wc_category_accordion .trwca-accordion li ul a {
  background: #f4f4f4;
  color: #000000 !important;
  border-bottom: 1px solid #fff;
}

.widget.widget_wc_category_accordion ul.trwca-accordion li ul:last-child a:hover {
  border-color: #020000;
}

div.team-member.design-creative .team-content .team-content-hover h4 {
  font-size: 25px;
}

body .woocommerce ul.products li.product .button,
body.woocommerce ul.products li.product .add_to_cart_button {
  color: #000 !important;
}

body .topbar .keydesign-cart span.badge,
body .menubar .keydesign-cart span.badge {
  color:#000 !important;
}

a#payson-logo:hover {
  text-decoration: none !important;
  background-color: transparent !important;
  outline-color: transparent !important;
}

body .keydesign-cart .empty-cart {
  color: #FFF;
}
@media (min-width: 975px) and (max-width: 1252px) {
  .woocommerce-page ul.products li.product.woo-minimal-style .categories {
    display:none;
  }
}

@media (max-width: 943px) {

  .first-header {
    padding-top: 58px;
  }

  .container h2.woocommerce-loop-product__title {
    font-size: 20px !important;
  }

  .woocommerce-page ul.products li.product.woo-minimal-style:hover h2,
  .woocommerce-page ul.products li.product.woo-minimal-style:hover .price {
    transform: translateY(-16px) !important;
  }

  .woocommerce-page ul.products li.product.woo-minimal-style .button {
    bottom: 70px !important;
  }

  .woocommerce ul.products li.product a img {
    width: 50% !important;
    margin: 0 auto !important;
    padding-bottom: 40px;
  }
}

@media (max-width: 959px) {
    
  body.woocommerce-cart #single-page table.cart .product-name, .woocommerce-cart #single-page table.cart .product-price, .woocommerce-cart #single-page table.cart .product-quantity, .woocommerce-cart #single-page table.cart .product-subtotal {
   padding: 8px;
   max-width: 300px;
   font-size: 14px;
  }
  
  body.woocommerce-page #wrapper {
      padding-top: 65px;
  }
  
  #main-menu .navbar-nav .menu-item-has-children .mobile-dropdown {
      width: 100%;
      text-align: right;
      cursor: pointer;
  }
  
  .cta-button-mobile { margin-top: -30px; }
  .widget_wc_category_accordion h5 {
      background-color: #ffd028;
      padding: 15px;
      margin-bottom: 0 !important;
  }
  
  .widget_wc_category_accordion h5:after {
      position: absolute;
      width: 10px;
      height: 10px;
      top: 15px;
      right: 20px;
      content: '\f054';
      font-family: fontawesome;
      font-size: 14px;
  }
  
  .widget_wc_category_accordion h5.open:after {
      content: '\f078';
  }
  
  .widget_wc_category_accordion .trwca-actheme { display:none; }
  
  .team-member.design-creative .team-content .team-content-hover h4, .team-member.design-creative .team-content .team-content-hover .team-subtitle {
      transform: none !important;
      margin-bottom: 0px !important;
  }
}